<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?'| relative_url }}">
  </head>

  <body>
	<div class = "sidebar">
	<h1>Menu</h1>
	
	<ul>
	{%assign path= page.url |split: "/" %}
	<li><a href={{site.url}}>Back to plans</a></li>
	<li><a href="{{path[1]}}/README.html">{{page.tool}} overwiew</a></li>
	
	{% assign sorted = site.pages |sort: "name" %}
	{% for page2 in sorted %}
	{%assign page2num = page2.name |round %}	
	{% if page2.tool == page.tool %}
	{% if page2num != 0 %}
	<li><a href={{page2.url}}>{{page2.title}}</a></li>
	{% endif %}
	{% endif %}
	{% endfor %}
	</ul>
	</div>
	
    <div class="content">
        {{ content }}
    </div>
  </body>
</html>

